h1#heading-vinesh{
	font-size: 40px;
	line-height: 50px;
	background: black;
	text-transform: uppercase;
}

div#vinesh{
	width: 600px;
	margin: 20px;
	padding: 10px;
	border: 5px dashed white;
}

div#vinesh img{
	width: 200px;
	border: 3px solid white;
}

div#vinesh button{
	background: white;
	color: #006400;
}