@charcoal: #1a1a1a;

@boardSize: 40em;

div.gameSpace{
	width: @boardSize;
	height: @boardSize/2;
	margin: 0 auto;
	background: @charcoal + #444;
}

div.road{
	width: @boardSize;
	background: @charcoal;
}

div.vertical{
	transform: rotate(90deg);
}